.bg-purple {
    background-image: url("../images/purple-gradient.png");
    min-height: 200%;
    background-size: cover;
    overflow: visible;
}

.profile-pic {
    width: 60px;
    height: 60px;
}

.remove-underline {
    text-decoration: none;
}

.search-padding {
    top: 73px;
    left: 8px;
}


.no-border {
    border: none;
}

.no-background {
    background-color: transparent;
    border: none;
}

.small-font {
    font-size: 12px;
}

.cards {
    display: flex;
    padding-top: 15px;
    margin-left: 9px;
    justify-content: center;
}

.card {
    margin-right: 15px;
    margin-left: 15px;
    width: 25%;
    height: 25%;
}

/*change color of the arrows*/
.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(100%);
}

/*change color of the active button*/
.list-group-item.active:not(.disabled) {
    background-color: #a094ec;
}